body{
	margin: 20px;
	padding: 0;
}
.cancha{
	display: inline-block;
	box-sizing: border-box;
	width: 1000px;
	height: 600px;
	background: #81B278;
	padding: 30px;
}
.border-cancha{
	position: relative;
	border: 2px solid white;
	background: none;
	width: 100%;
	height: 100%;
}
.arco{
	position: absolute;
	top:50%;	
	margin-top: -100px;
	width: 100px;
	height: 200px;
	border-top: 2px solid white;
	border-bottom: 2px solid white;	
}
.arco-derecha{
	right: 0;
	border-left: 2px solid white;
}
.arco-izquierda{
	left: 0;
	border-right: 2px solid white;
}
.circulo{
	position: absolute;
	border: 2px solid white;
	border-radius: 100%;
}
.centro{
	width: 100px;
	height: 100px;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
}
.jugador{
	background: white;
	height: 20px;
	width: 20px;
}
.jug-derecha{
	bottom: 0;
	left: -22px;
}
.jug-izquierda{
	top: 0;
	right: -11px;
}
.jug-centro{
	top: 15%;
	left: 45%;
}